{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="overlay"></div>
<div class="container-fluid header-container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="logo-font text-black pt-5 display-4">Shopping Bag</h1>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-5">
    {% if bag_items %}
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="text-black">Your Shopping Bag</h2>
            <p class="text-black">Review your selected artworks below:</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Item #</th>
                        <th scope="col">Artwork Title</th>
                        <th scope="col">Artwork Image</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bag_items %}
                    <tr>
                        <td><strong>{{ forloop.counter }}</strong></td>
                        <td><strong>{{ item.product.name }}</strong></td>
                        <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                                class="img-fluid uploaded-image">
                        </td>
                        <td><strong>£{{ item.product.price }}</strong><br>
                            <a class="remove-item text-danger text-center" id="remove_{{ item.item_id }}"><small>Remove
                                    Item</small></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <h3 class="text-black">Products Subtotal: £{{ total }}</h3>
                <h3 class="text-black">Courrier Delivery (25% of Subtotal): £{{ delivery|floatformat:2 }}</h3>
                <form method="post" action="{% url 'set_collection_option' %}">
                    {% csrf_token %}
                    <label class="text-black">
                        <input type="checkbox" name="local_collection" {% if local_collection %}checked{% endif %}>
                        I will collect locally* (Please uncheck if you require delivery)
                    </label>
                    <button type="submit" class="btn-primary btn btn-sm border-black rounded-1">Update</button>
                </form>
                <h4 class="text-black">Grand Total: £{{ grand_total|floatformat:2 }}</h4>
            </div>
        </div>
        <div class="col-12 text-right mt-3">
            <a href="{% url 'products' %}" class="enter-shop-button btn btn-lg border-black rounded-1 py-1 text-black">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="" class="enter-shop-button btn btn-lg border-black rounded-1 py-1 text-black">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="text-black">Your bag is currently empty.</h2>
            <p class="text-black">Browse our <a href="{% url 'products' %}">artworks</a> to add some colour to your
                walls!</p>
        </div>
    </div>
    {% endif  %}
</div>


{% endblock %}
{% block postloadjs %
<script type="text/javascript">
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').replace('remove_', '');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        })

    })
</script>}