{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid colour-block">
    <div class="row h-100 w-100">
        <div class="col-12 pb-5 d-flex justify-content-center align-items-center h-100 homepage-text">
            <h1 class="display-4 logo-font text-black">
                A world of colour awaits!
            </h1>
            <h3 class="logo-font text-black"> Say goodbye to boring walls with a host of original artworks created in
                the heart of Wiltshire </h3>
            <div class="my-3">
                <h4>
                    <a href="{% url 'products' %}" class="enter-shop-button btn btn-lg border-black rounded-1 py-2">
                        Enter here </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}