{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <h1 display-4 logo-font text-black>
                A world of colour awaits! <br>
                Say goodbye to boring walls
            </h1>
            <div class="my-3">
                <h4>
                    <a href="" class="enter-shop-button btn btn-lg rounded-1 py-2"> Enter here </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}