asgiref==3.10.0
certifi==2025.10.5
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
defusedxml==0.7.1
dj-database-url==3.0.1
Django==5.2.7
django-allauth==0.50.0
idna==3.10
oauthlib==3.2.2
pillow==10.3.0
psycopg2==2.9.11
pycparser==2.22
PyJWT==2.10.1
python3-openid==3.2.0
pytz==2024.2
requests==2.31.0
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
urllib3==1.26.20
whitenoise==6.11.0
