asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.7
django-allauth==0.50.0
django-cloudinary-storage==0.3.0
dj3-cloudinary-storage==0.0.6
django-crispy-forms==2.4
cloudinary==1.44.1
gunicorn==23.0.0
idna==3.10
oauthlib==3.2.2
pillow==10.3.0
psycopg2==2.9.11
requests-oauthlib==2.0.0
sqlparse==0.5.3
urllib3==1.26.20
whitenoise==6.11.0