{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>
<div class="header-container container-fluid mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black logo-font pt-5 display-4">Request a Custom Artwork</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 col-lg-5">
            {% if not user.is_authenticated and login_form %}
            <h3 class="text-black">Please log in to submit a request</h3>
            <form class="text-black" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
        {% else %}
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 col-md-4">
            <h3 class="text-black"> Medium Examples</h3>
            <table>
                <thead>
                    <tr>
                        <th class="text-black">Medium</th>
                        <th class="text-black">Description</th>
                        <th class="text-black">Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-black">Acrylic Paint</td>
                        <td class="text-black"> A bright and vibrant medium that dries quickly.</td>
                        <td><img src="{% static 'img/acrylic_backgroundremoved.png' %}" alt="Acrylic Paint Example"
                                class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td class="text-black">Oil Paint</td>
                        <td class="text-black"> A rich and textured medium that allows for blending and layering.</td>
                        <td><img src="{% static 'img/oil_backgroundremoved.png' %}" alt="Oil Paint Example"
                                class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td class="text-black">Watercolor</td>
                        <td class="text-black"> A fluid and transparent medium that creates soft washes of color.</td>
                        <td><img src="{% static 'img/watercolour_backgroundremoved.png' %}" alt="Watercolor Example"
                                class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td class="text-black">Pencil</td>
                        <td class="text-black"> A precise and detailed medium for sketching and shading.</td>
                        <td><img src="{% static 'img/pencil_backgroundremoved.png' %}" alt="Pencil Example"
                                class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td class="text-black">Chalk Pastels</td>
                        <td class="text-black"> A soft and blendable medium for vibrant colors and textures.</td>
                        <td><img src="{% static 'img/chalk_pastels_backgroundremoved.png' %}" alt="Chalk Pastel Example"
                                class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td class="text-black">Oil Pastels</td>
                        <td class="text-black"> A creamy and intense medium for bold colors and expressive marks.</td>
                        <td><img src="{% static 'img/oil_pastel_backgroundremoved.png' %}" alt="Oil Pastel Example"
                                class="img-fluid"></td>
                    </tr>
                </tbody>


            </table>
        </div>
        <div class="col-12 col-md-4">
            <form class="text-black" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2 mb-5">Submit Request</button>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <h3 class="text-black"> Artwork Size Guide </h3>
            <table>
                <thead>
                    <tr>
                        <th class="text-black"><strong>Size</strong></th>
                        <th class="text-black"><strong>Approx. Dimensions (inches)</strong></th>
                        <th class="text-black"><strong>Approx. Dimensions (cm)</strong></th>
                    </tr>
                </thead>
                <tr>
                    <td class="text-black">Small</td>
                    <td class="text-black">8 x 10</td>
                    <td class="text-black">20 x 25</td>
                </tr>
                <tr>
                    <td class="text-black">Medium</td>
                    <td class="text-black">12 x 16</td>
                    <td class="text-black">30 x 40</td>
                </tr>
                <tr>
                    <td class="text-black">Large</td>
                    <td class="text-black">16 x 20</td>
                    <td class="text-black">40 x 50</td>
                </tr>
                <tr>
                    <td class="text-black">Extra Large</td>
                    <td class="text-black">20 x 24</td>
                    <td class="text-black">50 x 60</td>
                </tr>
            </table>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}