{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>
<div class="header-container container-fluid mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black">Request a Custom Artwork</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            {% if not user.is_authenticated and login_form %}
            <h3 class="text-black">Please log in to submit a request</h3>
            <form class="text-black" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
        <div class="col-md-4">
            <h3 class="text-black"> Artwork Size Guide </h3>
            <table>
                <thead>
                    <tr>
                        <th class="text-black"><strong>Size</strong></th>
                        <th class="text-black"><strong>Approx. Dimensions (inches)</strong></th>
                        <th class="text-black"><strong>Approx. Dimensions (cm)</strong></th>
                    </tr>
                </thead>
                <tr>
                    <td class="text-black">Small</td>
                    <td class="text-black">8 x 10</td>
                    <td class="text-black">20 x 25</td>
                </tr>
                <tr>
                    <td class="text-black">Medium</td>
                    <td class="text-black">12 x 16</td>
                    <td class="text-black">30 x 40</td>
                </tr>
                <tr>
                    <td class="text-black">Large</td>
                    <td class="text-black">16 x 20</td>
                    <td class="text-black">40 x 50</td>
                </tr>
                <tr></tr>
                <td class="text-black">Extra Large</td>
                <td class="text-black">20 x 24</td>
                <td class="text-black">50 x 60</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            {% else %}
            <form class="text-black" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2 mb-5">Submit Request</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}