html {
    height: 100%;
}

body {
    background: url('/static/img/homepage_gallery_image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: bisque;
    font-family: "Cormorant Upright", serif;
    font-size: 1.2rem;
}


.homepage-text {
    display: block;
    margin: 0 0 16px 0;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.home-title {
    font-size: 3rem !important;
    font-family: "Tangerine", cursive !important;
    display: block;
    margin: 0 0 16px 0;
    flex-direction: column;
    align-items: center;
}

.colour-block {
    background-color: #86c295;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 33.33vh;
    display: flex;
    z-index: 2;
    border-top: 5px solid bisque;
    opacity: 0.9;
    padding-right: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
    font-family: "Tangerine", cursive;
}

#topnav {
    background-color: bisque !important;
    border-bottom: 5px solid #86c295 !important;
}

.dropdown-menu {
    z-index: 1050;
}

.list-inline {
    flex-wrap: nowrap !important;
}

.navbar.navbar-light {
    background-color: bisque !important;
    border-bottom: 1.5px solid #86c295 !important;
}

.active-link {
    font-weight: bold;
    color: yellow !important;
    text-shadow: darkgreen 1px 1px 2px;
}

.enter-shop-button {
    background: pink;
    color: black;
    min-width: 260px;
}

.biography {
    font-size: 1.7rem;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
}

.enter-shop-button:hover,
.enter-shop-button:active,
.enter-shop-button:focus {
    background: lightskyblue;
    color: green;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(213, 243, 215);
    z-index: -1;
}

.detail {
    font-size: 1.2rem !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.uploaded-image {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    border: 5px solid #86c295;
}

.checkout-image {
    max-width: 150px;
    max-height: 150px;
    border: 5px solid #86c295;
    margin-top: 10px;
}

.remove-item {
    font-weight: bold;
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 9999999999;
}

.custom-toast {
    background-color: lightyellow;
    font-weight: bold;
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.product-image-container {
    width: 100%;
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    background: #fff;
    display: block;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    body {
        font-size: 1.5rem;
    }

    .container {
        max-width: 80%;
    }

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    body {
        font-size: 1.25rem;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {


    body {
        padding-top: 164px;
    }
}

@media (max-width: 575.98px) {
    .enter-shop-button {
        min-width: 100% !important;
        width: 100%;
        box-sizing: border-box;
    }
}