<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Available Artworks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item"> By Price</a>
                <a href="" class="dropdown-item"> By Subject</a>
                <a href="" class="dropdown-item"> By Size</a>
                <a href="{% url 'products' %}" class="dropdown-item"> All Available Artworks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subject
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Animals</a>
                <a href="" class="dropdown-item">Portraits</a>
                <a href="" class="dropdown-item">Landscapes</a>
                <a href="" class="dropdown-item">Still Life</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Artworks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Size
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item"> Smaller Works </a>
                <a href="" class="dropdown-item"> Medium Works </a>
                <a href="" class="dropdown-item"> Larger Works </a>
                <a href="{% url 'products' %}" class="dropdown-item">All Artworks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Price
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">
                    < £50</a> <a href="" class="dropdown-item"> £50-£100
                </a>
                <a href="" class="dropdown-item"> £100-£200 </a>
                <a href="" class="dropdown-item"> £200 + </a>
                <a href="{% url 'products' %}" class="dropdown-item">All Artworks</a>
            </div>
        </li>
    </ul>
</div>