<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="{% url 'home' %}">
        <div class="text-center">
            <div><i class="fas fa-home fa-lg"></i></div>
            <p class="my-0 d-none d-sm-block">Home</p>
        </div>
    </a>
</li>
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="{% url 'artist_biography' %}">
        <div class="text-center">
            <div><i class="fa-solid fa-lg fa-paintbrush"></i></div>
            <p class="my-0 d-none d-sm-block"> Artist Biography </p>
        </div>
    </a>
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0 d-none d-sm-block">My Account <br>
                and Orders</p>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{%url 'profiles' %}" class="dropdown-item"> View all current orders </a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{%url 'profiles' %}" class="dropdown-item"> My Profile and Requests </a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% endif %}
        {% else %}
        <a href=" {% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
        href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>