    <footer id="contact" class="text-dark mt-auto">
        <div class="container text-center py-4">
            <p class="mb-0">&copy; {% now "Y"%} Jane L.C. Online Studio. All rights reserved.</p>
            <p class="mb-0"><i class="fa fa-house fas-lg"></i> Bishopstone, Wiltshire | <i class="fa fa-phone fas-lg"
                    555-1234</p> <p>Follow us on:
                    <a href="https://twitter.com" target="_blank"
                        aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com" target="_blank"
                        aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://instagram.com" target="_blank"
                        aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
    </footer>